@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #fff;
}
:root {
  --Dark-gray: hsl(0, 0%, 55%); /*Texto*/
  --Very-Dark-Gray: hsl(0, 0%, 41%); /*Título*/
}
header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 25px 0 1.5rem;
}
header .logo img {
  width: 140px;
}
.nav-bar {
  display: none;
}
div.banner {
  background: url(../assets/images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
div.text-banner {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 1.2em;
  right: 1.2em;
  border: 2px solid;
  padding: 20px;
  text-transform: uppercase;
  font-size: 19px;
  transform: translateY(-50%);
}
div.text-banner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}
aside {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
li {
  list-style: none;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}
aside ul {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.2em;
  margin-bottom: 220px;
}
aside ul li {
  line-height: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  width: 140px;
  position: relative;
}
aside ul li::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
  transition: 0.4s all ease-in-out;
}
aside ul li:hover::after {
  width: 60px;
}
aside div {
  margin: 0px 1.4rem;
  padding-top: 30px;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}
aside div .logo img {
  width: 140px;
  object-fit: cover;
}
section.info {
  margin-top: 80px;
  text-align: center;
}
section .interactive {
  margin: 0 1.5rem;
}
section .interactive img {
  width: 100%;
}
section .interactive h2 {
  text-transform: uppercase;
  font-size: 29px;
  margin: 40px auto 15px auto;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
section .interactive p {
  line-height: 1.8em;
  font-size: 14px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: rgb(146, 145, 145);
  width: 260px;
  margin: 0 auto;
}
section .gallery {
  margin: 90px 1.5rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
section .gallery h2 {
  text-transform: uppercase;
  font-size: 29px;
  margin: 40px 0;
  font-weight: 300;
}
section .gallery img.desktop {
  display: none;
}
section .gallery img {
  width: 100%;
  object-fit: cover;
  transition: opacity .4s linear;
}
section .gallery .photos figure {
  position: relative;
  text-transform: uppercase;
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}
section .gallery .photos figure:hover > img {
  opacity: 0.3;
}
section .gallery .photos figure:hover > figcaption {
  color: #000;
  background: none;
}
section .gallery .photos figcaption {
  color: #fff;
  position: absolute;
  bottom: 6px;
  left: 0;
  height: auto;
  width: 140px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
section .photos .the-grid figcaption {
  width: 100px;
}
section .btn-top {
  display: none;
}
section button {
  border: 2px solid var(--Dark-gray);
  background: transparent;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 12px 38px;
  letter-spacing: 0.2em;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s linear;
}
section button:hover {
  background: #000;
  color: #fff;
  border: 2px solid transparent;
}
footer {
  background: #000;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;
}
footer .logo img {
  width: 140px;
}
footer ul {
  color: #fff;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer ul li {
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 4px;
  position: relative;
}
footer ul li::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  height: 2px;
  width: 0px;
  background-color: #ffffff;
  transition: 0.3s all ease-in-out;
}
footer ul li:hover::after {
  width: 25px;
}
footer .social-media img {
  margin-left: 10px;
  padding-bottom: 6px;
  border: none;
  border-bottom: 2px solid;
  cursor: pointer;
  transition: .4s linear;
}
footer .social-media img:hover {
  border-bottom: 2px solid #fff;
}
footer .social-media img:first-child {
  margin-left: 0;
}
footer p {
  color: var(--Dark-gray);
  margin-top: 12px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 13.8px;
}
@media screen and (max-width: 374px) {
  div.text-banner {
    padding: 20px;
    font-size: 16.5px;
    line-height: 38px;
  }
  section .gallery .photos figcaption {
    height: 94.5%;
  }
}
@media screen and (min-width: 375px) {
  div.text-banner {
    padding: 20px;
    font-size: 20px;
    line-height: 38px;
  }
  div.banner {
    padding: 0 5px;
  }
  section .gallery .photos figcaption {
    height: 96.5%;
  }
  footer {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
    header {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  div.text-banner {
    left: 2.2rem;
    right: 3.5rem;
    max-width: 620px;
    margin: auto;
  }
  aside div {
    margin: 0px 2.2em;
  }
  section .gallery .photos figcaption {
    height: 97.5%;
  }
}
@media screen and (min-width: 992px) {
  header .menu,
  aside,
  .btn-bottom {
    display: none;
  }
  header {
    padding: 4rem 5rem 0;
    margin: auto;
  }
  header .logo img {
    width: 140px;
  }
  .nav-bar {
    display: flex;
    color: #fff;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar ul li {
    position: relative;
    font-size: 14px;
  }
  .nav-bar ul li::after {
    content: " ";
    height: 3px;
    width: 0px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s all ease-in-out;
  }
  .nav-bar ul li:hover::after {
    width: 30px;
  }
  .nav-bar ul li:not(:last-child) {
    margin-right: 30px;
  }
  div.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../assets/images/desktop/image-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;
    position: relative;
  }
  div.text-banner {
    max-width: 100%; 
    height: 170px;
    top: 250px;
    left: 0;
    padding: 0 0 0 5rem;
    border: none;
  }
  .banner-h1 {
    width: 375px;
    font-size: 45px;
    padding: 20px;
    padding-bottom: 15px;
    border: 2px solid #fff;
  }
  main {
    padding: 0 5rem;
    max-width: 100%;
  }
  section .interactive {
    margin: 0;
    padding-top: 20px;
    text-align: left;
    position: relative;
  }
  .text-content {
    height: 250px;
    width: 400px;
    background: #ffffff;
    position: absolute;
    bottom: 3px;
    right: 0;
    padding: 30px 0 0 40px;
  }
  section .interactive img {
    width: 67%;
  }
  section .interactive h2 {
    text-transform: uppercase;
    font-size: 29px;
    margin: 17px auto 15px;
    width: 300px;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  }
  section .interactive p {
    line-height: 1.8em;
    font-size: 14px;
    font-family: "Alata", sans-serif;
  font-weight: 400;
    color: rgb(146, 145, 145);
    width: auto;
    margin: 0 auto 0;
  }
  section .gallery {
    margin: 90px 0em 0 0em;
    padding-bottom: 40px;
  }
  section .btn-top {
    display: block;
    border-color: var(--Dark-gray);
  }
  section .btn-top:hover {
    border: none;
  }
  section .gallery .gallery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 40px 0;
  }
  section .gallery h2 {
    font-size: 30px;
  }
  section .gallery img {
    display: none;
  }
  section .gallery img.desktop {
    display: block;
  }
  section .gallery .photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(3, auto);
    overflow: hidden;
  }
  section .gallery .photos figure {
    position: relative;
    font-size: 21px;
    text-align: left;
    margin-bottom: 0;
  }
  section .gallery .photos figcaption {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 50px 25px 30px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 5%,
      rgba(0, 0, 0, 0) 95%
    );
  }
  section .photos .the-grid figcaption {
    padding-right: 120px;
  }
  section.footer {
    display: flex;
    justify-content: space-between;
  }
  footer {
    margin-top: 100px;
    text-align: center;
    padding: 50px 5rem 20px;
  }
  footer .logo-and-ul {
    text-align: left;
  }
  footer .socialM-and-copy {
    text-align: right;
  }
  footer ul {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer ul li {
    font-size: 14px;
    position: relative;
  }
  footer ul li:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1440px) {
  header .menu,
  aside,
  .btn-bottom {
    display: none;
  }
  header {
    padding: 5.2rem 0 0 0;
    width: 1100px;
    margin: 0 auto;
  }
  header .logo img {
    width: 190px;
    margin-left: 0;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar ul li {
    font-size: 15px;
  }
  .nav-bar ul li:not(:last-child) {
    margin-right: 36px;
  }
  div.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../assets/images/desktop/image-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 648px;
    position: relative;
  }
  div.text-banner {
    width: 1100px;
    margin: 0 auto;
    height: auto;
    top: 350px;
    padding: 0 0 0 1.5rem;
  }
  div.text-banner .banner-h1{
    font-size: 71.5px;
    line-height: 4.5rem;
    width: 640px;
    padding: 36px 30px 30px;
    border: 2px solid;
  }
  main {
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
  }
  section .interactive {
    margin-top: 160px;
    padding-top: 0;
  }
  .text-content {
    height: 316px;
    width: 535px;
  }
  section .interactive img {
    width: 731px;
    object-fit: cover;
  }
  section .interactive h2 {
    font-size: 47px;
    margin: 72px auto 15px 72px;
    min-width: 390px;
  }
  section .interactive p {
    font-size: 14.5px;
    width: 430px;
    margin: 0 0 0 72px;
  }
  section .gallery {
    margin: 186px 0 0 0;
  }
  section .btn-top {
    display: block;
    border-color: var(--Dark-gray);
    font-size: 15px;
  }
  section .btn-top:hover {
    border: none;
  }
  section .gallery .gallery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  section .gallery h2 {
    font-size: 47px;
  }
  section .gallery img {
    display: none;
  }
  section .gallery img.desktop {
    display: block;
  }
  section .gallery .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;
    margin-top: 82px;
  }
  section .gallery .photos figure {
    position: relative;
    font-size: 27px;
    text-align: left;
    margin-bottom: 0;
    width: 23%;
  }
  section .gallery .photos figcaption {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 70px 30px 40px;
    display: flex;
    align-items: flex-end;    
  }
  section .photos .the-grid figcaption {
    padding-right: 120px;
  }
  section.footer {
    display: flex;
    justify-content: space-between;
    max-width: none;
    margin: 0 auto;
    width: 1100px;
  }
}
